#breadcrumb {
	margin-top: 20px;
}

#pav1 {
	margin-top: 20px;
}

#pav2 {
	margin-top: 20px;
}

#pav3 {
	margin-top: 20px;
}

.brand-logo {
	height: 56px;
}

@media only screen and (min-width: 601px) {
	.brand-logo {
		height: 64px;
	}

}

.breadcrumb:before {
	color: black;
}

.height {
	min-height: 70vh;
	display: flex;
    align-items: center;
}

.uzrasas {
	width: 100%;
}